@import "partials/nav";

$h1FontSize: 8rem;
$h1SpanFontSize: 10rem;

#bg {
  video#bgvid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%!important;
    height: 100%!important;
    z-index: -1000;
    overflow: hidden;
    opacity: .5;

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      display: none;
    }
  }
}

#whitelayer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
}

html, body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  color: #212121;

  body {
    background: url("../six-ring-circus-bg.mp4");
    background-size: cover;
  }

  a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;

    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;

    &:hover {
      border-bottom: 1px solid #e65928;
    }
  }

  h2 {
    padding-top: 4%;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
  }

  header {
    width: 100%;
    height: 50%;
    padding-bottom: 0;
    text-align: center;

    img {
      display: none;
      width: 60%;
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;

      -webkit-transition: all 350ms ease-in-out;
      -moz-transition: all 350ms ease-in-out;
      -ms-transition: all 350ms ease-in-out;
      -o-transition: all 350ms ease-in-out;
      transition: all 350ms ease-in-out;
      &:hover {
        cursor: default;
        opacity: .8;
      }

      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        margin-top: 150px;
      }
    }
  }

  main {
    margin-top: 30%;
    section {
      width: 80%;
      margin: 8% auto;
      letter-spacing: 2px;
      color: #333;

      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    #info {

      #palmares {
        font-size: 1.2rem;
        text-transform: uppercase;
        margin: 0;
      }

      #bio {
        font-size: 1.1rem;
        text-align: justify;
        margin-top: 4%;
        margin-bottom: 4%;
      }

      #presse {
        display: flex;
        justify-content: space-around;
        article {
          text-align: justify;
          font-size: .9rem;
          margin: 0 2%;
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
          flex-direction: column;
        }
      }
    }

    #concerts {
      margin-top: 8% !important;
      margin-bottom: 16% !important;
    }

    #video {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      background: none !important;

      iframe {
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
      }
    }
    #audio {
      background: none !important;
      width: 853px;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-bottom: 0;

      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        width: 80%;
      }
      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        width: 80%;
      }
    }

    .flickr-embed-photo {

      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        width: 80%;

      }
      @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    #contact {
      margin-top: -4%;
      font-size: 1.2rem;
      text-align: center;
      ul {
        list-style: none;
        line-height: 1.5;
        padding: 0;
        margin-top: 0;
      }
      #social {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
        i {
          font-size: 1.8rem;

          -webkit-transition: all 350ms ease-in-out;
          -moz-transition: all 350ms ease-in-out;
          -ms-transition: all 350ms ease-in-out;
          -o-transition: all 350ms ease-in-out;
          transition: all 350ms ease-in-out;
          &:hover {
            color: #e65928;
            opacity: .5;
          }
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
          width: 100%;
        }
      }
      #credits {
        margin-top: 6%;
        font-size: 1rem;
        h3 {
          //font-size: 1.8rem;
          text-transform: uppercase;
        }
        #creditsLogos {
          width: 30%;
          margin-top: 4%;
          margin-bottom: 0;
          padding: 0;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          justify-content: space-around;
          li {
            @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
              padding: 5%;
            }
            a {
              border-bottom: none !important;
              &:hover {
                opacity: .5;
                border-bottom: none !important;
              }
            }
          }
        }
      }
    }
  }

  footer {
    z-index: 1;
    margin: 4% auto;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    p {
      font-size: .7rem;
      padding: 2%;
      margin: 0;

      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        font-size: .5rem;
      }
    }
  }
}




